/**
 * @file navbar.menu.css
 */
.drupal-navbar .menu,
[dir="rtl"] .drupal-navbar .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.drupal-navbar .navbar-box {
  display: block;
  line-height: 1em; /* this prevents the value "normal" from being returned as the line-height */
  position: relative;
  width: auto;
}
.drupal-navbar .navbar-tray-horizontal .menu .navbar-handle,
.drupal-navbar .navbar-tray-horizontal .menu ul,
.drupal-navbar .navbar-tray-vertical .menu ul {
  display: none;
}
.drupal-navbar .navbar-tray-vertical li.open > ul {
  display: block; /* Show the sub-menus */
}
.drupal-navbar .navbar-tray-vertical .navbar-handle + a {
  margin-right: 3em; /* LTR */
}
[dir="rtl"] .drupal-navbar .navbar-tray-vertical .navbar-handle + a {
  margin-left: 3em;
  margin-right: 0;
}
.drupal-navbar .navbar-tray .active-trail > .navbar-box a,
.drupal-navbar .navbar-tray a.active {
  color: #000;
  font-weight: bold;
}

/**
 * Items.
 */
.drupal-navbar .level-2 > ul {
  background-color: #fafafa;
  border-bottom-color: #cccccc;
  border-top-color: #e5e5e5;
}
.drupal-navbar .level-3 > ul {
  background-color: #f5f5f5;
  border-bottom-color: #c5c5c5;
  border-top-color: #dddddd;
}
.drupal-navbar .level-4 > ul {
  background-color: #eeeeee;
  border-bottom-color: #bbbbbb;
  border-top-color: #d5d5d5;
}
.drupal-navbar .level-5 > ul {
  background-color: #e5e5e5;
  border-bottom-color: #b5b5b5;
  border-top-color: #cccccc;
}
.drupal-navbar .level-6 > ul {
  background-color: #eeeeee;
  border-bottom-color: #aaaaaa;
  border-top-color: #c5c5c5;
}
.drupal-navbar .level-7 > ul {
  background-color: #fafafa;
  border-bottom-color: #b5b5b5;
  border-top-color: #cccccc;
}
.drupal-navbar .level-8 > ul {
  background-color: #dddddd;
  border-bottom-color: #cccccc;
  border-top-color: #dddddd;
}

/**
 * Handle.
 */
.drupal-navbar .navbar-handle:hover {
  cursor: pointer;
}
.drupal-navbar .navbar-icon.navbar-handle {
  bottom: 0;
  display: block;
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  z-index: 1;
}
[dir="rtl"] .drupal-navbar .navbar-icon.navbar-handle {
  left: 0;
  right: auto;
}
