/**
 * @file navbar.menu-rtl.css
 */
html .drupal-navbar .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.drupal-navbar .navbar-tray-vertical .navbar-handle + a {
  margin-left: 3em;
  margin-right: 0;
}

/**
 * Handle.
 */
.drupal-navbar .navbar-icon.navbar-handle {
  left: 0;
  right: auto;
}
