/**
 * @file navbar.icons.css
 *
 * RTL styles for navbar.icons.css
 */

.drupal-navbar .navbar-icon {
  padding-left: 1.3333em;
  padding-right: 2.75em;
}
.drupal-navbar .navbar-icon:before {
  left: auto;
  right: 0.6667em;
}
.drupal-navbar .menu ul .navbar-icon {
  padding-left: 0;
  padding-right: 1.3333em;
}
.drupal-navbar .navbar-tray-vertical .menu ul {
  margin-left: 0;
  margin-right: 1.5em;
}
.drupal-navbar .navbar-tray-vertical .menu ul ul {
  margin-left: 0;
  margin-right: 0.75em;
}

/**
 * Top level icons.
 */

@media only screen and (min-width: 16.5em) {
  .drupal-navbar .navbar-bar .navbar-icon:before {
    left: auto;
    right: 0;
  }
}

@media only screen and (min-width: 36em) {
  .drupal-navbar .navbar-bar .navbar-icon {
    background-position: right center;
    padding-left: 1.3333em;
    padding-right: 2.75em;
  }
  .drupal-navbar .navbar-bar .navbar-icon:before {
    left: 0;
    right: 0.6667em;
  }
}

/**
 * Handle.
 */
.drupal-navbar .navbar-icon.navbar-handle:before {
  left: auto;
  right: 0;
}
.no-svg .drupal-navbar .navbar-icon.navbar-handle:before {
  left: auto;
  right: 0;
}

/**
 * Orientation toggle.
 */
.drupal-navbar .navbar-toggle-orientation button:before {
  left: auto;
  right: 0;
}
.drupal-navbar .navbar-toggle-orientation .navbar-icon {
  padding-right: 0;
}
/**
 * In order to support a hover effect on the SVG images, while also supporting
 * RTL text direction and no SVG support, this little icon requires some very
 * specific targeting, setting and unsetting.
 */
.drupal-navbar .navbar-toggle-orientation [value="vertical"]:before {
  background-image: url("../icons/bebebe/push-right.svg");
}
.drupal-navbar .navbar-toggle-orientation [value="vertical"]:hover:before {
  background-image: url("../icons/787878/push-right.svg");
}
.no-svg .drupal-navbar .navbar-toggle-orientation [value="vertical"]:before {
  background-image: url("../icons/bebebe/push-right.png");
}
.no-svg .drupal-navbar .navbar-toggle-orientation [value="vertical"]:hover:before {
  background-image: url("../icons/787878/push-right.png");
}
