/**
 * @file navbar.module.css
 *
 *
 * Aggressive resets so we can achieve a consistent look in hostile CSS
 * environments.
 */
#navbar-administration,
#navbar-administration * {
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#navbar-administration {
  font-size: small;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/**
 * Very specific overrides for Drupal system CSS.
 */
.drupal-navbar li,
.drupal-navbar .menu li,
.drupal-navbar .item-list,
.drupal-navbar .item-list li,
.drupal-navbar .menu li.expanded {
  list-style-type: none;
  list-style-image: none;
}
.drupal-navbar .menu li {
  padding-top: 0;
}
.drupal-navbar .navbar-bar .navbar-tab,
.drupal-navbar .menu li {
  display: block;
}
.drupal-navbar a {
  display: block;
  line-height: 1;
}

/**
 * Administration menu.
 */
.drupal-navbar .navbar-bar,
.drupal-navbar .navbar-tray {
  position: relative;
  z-index: 1250;
}
/* Position the admin navbar absolutely when the configured standard breakpoint
 * is active. The navbar container, that contains the bar and the trays, is
 * position absolutely so that it scrolls with the page. Otherwise, on smaller
 * screens, the components of the admin navbar are positioned statically. */
body.navbar-fixed .navbar-oriented,
.navbar-oriented .navbar-bar,
.navbar-oriented .navbar-tray {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
/* Layer the bar just above the trays and above contextual link triggers. */
.navbar-oriented .navbar-bar {
  z-index: 502;
}
/* Position the admin navbar fixed when the configured standard breakpoint is
 * active. */
body.navbar-fixed .navbar-oriented .navbar-bar {
  position: fixed;
}
/* When the configured narrow breakpoint is active, the navbar is sized to wrap
 * around the trays in order to provide a context for scrolling tray content
 * that is taller than the viewport. */
body.navbar-tray-open.navbar-fixed.navbar-vertical .navbar-oriented {
  bottom: 0;
  width: 240px;
  width: 15rem;
}
/* Present the admin navbar tabs horizontally as a default on user agents that
 * do not understand media queries or on user agents where JavaScript is
 * disabled. */
.drupal-navbar .navbar-bar .navbar-tab,
.drupal-navbar .navbar-tray-horizontal li {
  float: left; /* LTR */
}
[dir="rtl"] .drupal-navbar .navbar-bar .navbar-tab,
[dir="rtl"] .drupal-navbar .navbar-tray-horizontal li {
  float: right;
}
/* Present the admin navbar tabs vertically by default on user agents that
 * that understand media queries. This will be the small screen default. */
@media only screen {
  .drupal-navbar .navbar-bar .navbar-tab,
  .drupal-navbar .navbar-tray-horizontal li {
    float: none; /* LTR */
  }
  [dir="rtl"] .drupal-navbar .navbar-bar .navbar-tab,
  [dir="rtl"] .drupal-navbar .navbar-tray-horizontal li {
    float: none;
  }
}
/* This min-width media query is meant to provide basic horizontal layout to
 * the main menu tabs when JavaScript is disabled on user agents that understand
 * media queries. */
@media (min-width:16.5em) {
  .drupal-navbar .navbar-bar .navbar-tab,
  .drupal-navbar .navbar-tray-horizontal li {
    float: left; /* LTR */
  }
  [dir="rtl"] .drupal-navbar .navbar-bar .navbar-tab,
  [dir="rtl"] .drupal-navbar .navbar-tray-horizontal li {
    float: right;
  }
}
/* Present the admin navbar tabs horizontally when the configured narrow
 * breakpoint is active. */
.navbar-oriented .navbar-bar .navbar-tab,
.navbar-oriented .navbar-tray-horizontal li {
  float: left; /* LTR */
}
[dir="rtl"] .navbar-oriented .navbar-bar .navbar-tab,
[dir="rtl"] .navbar-oriented .navbar-tray-horizontal li {
  float: right;
}

/**
 * Navbar tray.
 */
.drupal-navbar .navbar-tray {
  display: none;
  z-index: 501;
}
.toolar .navbar-tray > .navbar-lining {
  position: relative;
}
.navbar-oriented .navbar-tray-vertical {
  left: -100%; /* LTR */
  position: absolute;
  width: 240px;
  width: 15rem;
}
[dir="rtl"] .navbar-oriented .navbar-tray-vertical {
  left: auto;
  right: -100%;
}
.drupal-navbar .navbar-tray-vertical > .navbar-lining {
  min-height: 100%;
}
.drupal-navbar .navbar-tray-vertical > .navbar-lining:before {
  width: 100%;
}
.navbar-oriented .navbar-tray-vertical > .navbar-lining:before {
  bottom: 0;
  content: '';
  display: block;
  left: 0; /* LTR */
  position: fixed;
  top: 0;
  width: 240px;
  width: 15rem;
  z-index: -1;
}
[dir="rtl"] .drupal-navbar .navbar-tray-vertical > .navbar-lining:before {
  left: auto;
  right: 0;
}
/* Hide secondary menus when the tray is horizontal. */
.navbar-oriented .navbar-tray-horizontal .menu li ul {
  display: none;
}
/* When the configured standard breakpoint is active and the tray is in a
 * horizontal position, the tray is fixed to the top of the viewport and does
 * not scroll with the page contents. */
body.navbar-fixed .drupal-navbar .navbar-tray-horizontal {
  position: fixed;
}
/* When the configured standard breakpoint is active and the tray is in a
 * vertical position, the tray does not scroll with the page. The contents of
 * the tray scroll within the confines of the viewport. */
body.navbar-fixed .drupal-navbar .navbar-tray-vertical {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
}
.drupal-navbar .navbar-tray.active {
  display: block;
}
/* Bring the tray into the viewport. By default it is just off-screen. */
.navbar-oriented .navbar-tray-vertical.active {
  left: 0; /* LTR */
}
[dir="rtl"] .navbar-oriented .navbar-tray-vertical.active {
  left: auto;
  right: 0;
}
/* When the configured standard breakpoint is active, the tray appears to push
 * the page content away from the edge of the viewport. */
body.navbar-tray-open.navbar-vertical.navbar-fixed {
  margin-left: 240px; /* LTR */
  margin-left: 15rem; /* LTR */
}
[dir="rtl"] body.navbar-tray-open.navbar-vertical.navbar-fixed {
  margin-left: auto;
  margin-left: auto;
  margin-right: 240px;
  margin-right: 15rem;
}

/**
 * ToolBar tray orientation toggle.
 */
/* Hide the orientation toggle when the configured narrow breakpoint is not
 * active. */
.drupal-navbar .navbar-tray .navbar-toggle-orientation {
  display: none;
}
/* Show the orientation toggle when the configured narrow breakpoint is
 * active. */
.navbar-oriented .navbar-tray .navbar-toggle-orientation {
  display: block;
}
.navbar-oriented .navbar-tray-horizontal .navbar-toggle-orientation {
  bottom: 0;
  position: absolute;
  right: 0; /* LTR */
  top: auto;
}
[dir="rtl"] .navbar-oriented .navbar-tray-horizontal .navbar-toggle-orientation {
  left: 0;
  right: auto;
}
.navbar-oriented .navbar-tray-vertical .navbar-toggle-orientation {
  float: right; /* LTR */
  width: 100%;
}
[dir="rtl"] .navbar-oriented .navbar-tray-vertical .navbar-toggle-orientation {
  float: left;
}
