/**
 * @file navbar.menu.css
 */
#navbar-administration .navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
#navbar-administration .navbar-box {
  display: block;
  line-height: 1em; /* this prevents the value "normal" from being returned as the line-height */
  position: relative;
  width: auto;
}
#navbar-administration .navbar-tray-horizontal .navbar-menu .navbar-handle,
#navbar-administration .navbar-tray-horizontal .navbar-menu .navbar-menu,
#navbar-administration .navbar-tray-vertical .navbar-menu > .navbar-twisty > .navbar-menu {
  display: none;
}
#navbar-administration .navbar-tray-vertical .navbar-twisty.open > .navbar-menu {
  display: block; /* Show the sub-menus */
}
#navbar-administration .navbar-tray-vertical .navbar-handle + .navbar-menu-item {
  margin-right: 3em; /* LTR */
}
#navbar-administration .navbar-tray .navbar-active-trail > .navbar-box .navbar-menu-item,
#navbar-administration .navbar-tray .navbar-active
/* Backdrop's active menu item class. */
#navbar-administration .navbar-tray .active {
  font-weight: bold;
}
/* ----- Toolbar menu tray for viewports less than 320px ------ */
@media screen and (max-width: 319px) {
  #navbar-administration .navbar-tray-vertical.navbar-active {
    width: 100%;
  }
}

/**
 * Handle.
 */
#navbar-administration .navbar-handle:hover {
  cursor: pointer;
}
#navbar-administration .navbar-icon.navbar-handle {
  bottom: 0;
  display: block;
  height: 100%;
  padding: 0;
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  z-index: 1000;
}
[dir="rtl"] #navbar-administration .navbar-icon.navbar-handle {
  left: -10%;
}
/**
 * Styling for Custom Navbar Dropdown. Adapted from Bryant Crayton bccrayton's
 * work at https://www.drupal.org/node/2390047.
 */

.navbar-tray-horizontal .navbar-menu-administration ul {
  list-style: none !important;
  position: relative !important;
  float: left !important;
  margin: 0 !important;
  padding: 0 !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul a {
  display: block !important;
  text-decoration: none !important;
  line-height: 39px !important;
  padding: 0 15px !important;
  padding-left: 35px !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul li {
  position: relative !important;
  float: left !important;
  margin: 0 !important;
  padding: 0 !important;
}

[dir="rtl"] .navbar-tray-horizontal .navbar-menu-administration ul li {
  float: rigth !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul li.current-menu-item {
  background: #ddd !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul ul {
  display: none !important;
  position: absolute !important;
  top: 100% !important;
  left: 0 !important;
  padding: 0 !important;
  border: 1px solid !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul ul li {
  float: none !important;
  width: 200px !important;
  border: none !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul ul a {
  line-height: 120% !important;
  padding: 10px 15px !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul ul ul {
  top: -1px !important;
  left: 100% !important;
}

[dir="rtl"] .navbar-tray-horizontal .navbar-menu-administration ul ul ul {
  top: -1px !important;
  left: -101% !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul li:hover > ul {
  display: block !important;
}

.navbar-tray-horizontal .navbar-menu-administration .navbar-menu li li .navbar-handle {
  display: block !important;
}

.navbar-tray-horizontal .navbar-menu-administration .navbar-menu .navbar-menu .navbar-icon.navbar-handle:before {
  background-image: url("../icons/0074bd/arrow-right.svg") !important;
}

[dir="rtl"] .navbar-tray-horizontal .navbar-menu-administration .navbar-menu .navbar-menu .navbar-icon.navbar-handle:before {
  background-image: url("../icons/0074bd/arrow-left.svg") !important;
}

.no-svg .navbar-tray-horizontal .navbar-menu-administration .navbar-menu .navbar-menu .navbar-icon.navbar-handle:before {
  background-image: url("../icons/0074bd/arrow-right.png") !important;
}

[dir="rtl"] .no-svg  .navbar-tray-horizontal .navbar-menu-administration .navbar-menu .navbar-menu .navbar-icon.navbar-handle:before {
  background-image: url("../icons/0074bd/arrow-left.png") !important;
}
