
body.navbar {
  padding-top: 2.2em;
}
body.navbar-drawer {
  padding-top: 5.3em;
}

/**
 * Aggressive resets so we can achieve a consistent look in hostile CSS
 * environments.
 */
#navbar,
#navbar * {
  border: 0;
  font-size: 100%;
  line-height: inherit;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  text-align: left; /* LTR */
  vertical-align: baseline;
}

/**
 * Base styles.
 *
 * We use a keyword for the navbar font size to make it display consistently
 * across different themes, while still allowing browsers to resize the text.
 */
#navbar {
  background-color: #fff;
  font: normal small "Lucida Grande", Verdana, sans-serif;
}
#navbar .navbar-bar {
  background: #666;
  color: #ccc;
  left: 0;
  margin: 0 -20px;
  padding: 0 20px;
  position: fixed;
  right: 0;
  top: 0;
  box-shadow: 0 3px 20px #000;
  z-index: 600;
}
#navbar .navbar-tray {
  background-color: #ffffff;
  bottom: 0;
  -moz-box-shadow: -10px 0 10px -10px black inset;
  -webkit-box-shadow: -10px 0 10px -10px black inset;
  box-shadow: -10px 0 10px -10px black inset;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  padding-right: 10px;
  position: absolute;
  top: 0;
  z-index: 600;
}
#navbar div.collapsed {
  display: none;
  visibility: hidden;
}
#navbar a {
  font-size: .846em;
  text-decoration: none;
}
#navbar .navbar-bar a {
  color: #fff;
}
#navbar .navbar-bar ul li,
#navbar .navbar-bar ul li a {
  float: left; /* LTR */
}
#navbar .navbar-tray ul li,
#navbar .navbar-tray ul li a {

}

/**
 * Administration menu.
 */
#navbar .navbar-menu {
  background: #000;
  line-height: 20px;
  padding: 5px 50px 5px 10px; /* LTR */
  position: relative;
}
#navbar-home a span {
  background: url("../images/navbar.png") no-repeat 0 -45px;
  display: block;
  height: 14px;
  margin: 3px 0px;
  text-indent: -9999px;
  vertical-align: text-bottom;
  width: 11px;
}
#navbar-user {
  float: right; /* LTR */
}
.navbar-bar #navbar-menu {
  float: left; /* LTR */
}
#navbar .navbar-menu a.toggle {
  background: url("../images/navbar.png") 0 -20px no-repeat;
  bottom: 0;
  cursor: pointer;
  height: 25px;
  overflow: hidden;
  position: absolute;
  right: 10px; /* LTR */
  text-indent: -9999px;
  width: 25px;
}
#navbar div.navbar-menu a.toggle:focus,
#navbar div.navbar-menu a.toggle:hover {
  background-position:  -50px -20px;
}
#navbar div.navbar-menu a.toggle-active {
  background-position:  -25px -20px;
}
#navbar div.navbar-menu a.toggle-active.toggle:focus,
#navbar div.navbar-menu a.toggle-active.toggle:hover {
  background-position:  -75px -20px;
}
#navbar div.navbar-menu ul li a {
  padding: 0 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
#navbar div.navbar-menu ul li a:focus,
#navbar div.navbar-menu ul li a:hover,
#navbar div.navbar-menu ul li a:active,
#navbar div.navbar-menu ul li a.active:focus {
  background: #444;
}
#navbar div.navbar-menu ul li a.active:hover,
#navbar div.navbar-menu ul li a.active:active,
#navbar div.navbar-menu ul li a.active,
#navbar div.navbar-menu ul li.active-trail a {
  background: url("../images/navbar.png") 0 0 repeat-x;
  text-shadow: #333 0 1px 0;
}

/**
 * Collapsed drawer of shortcut navbar content.
 */
#navbar .navbar-drawer {
  position: relative;
  padding: 0 10px;
}

/**
 * Collapsed drawer of additional navbar content.
 */
#navbar a.navbar-toggle-tray {
  float: left;
  padding: 0 10px;
}
#navbar .navbar-tray .filter-search {
  border: 1px solid #ccc;
  margin: 10px;
}
#navbar .navbar-tray ul li {
  border-bottom: 1px solid #ccc;
  display: block;
}
#navbar .navbar-tray ul
#navbar .navbar-tray ul li.last {
  border-bottom: 0 none;
}
#navbar .tray-menu {
  clear: both;
}
#navbar .tray-menu a {
  color: #000;
  display: block;
  padding: 10px;
}
#navbar .tray-menu a:hover {
  background-color: #fafafa;
}
#navbar .navbar-tray .filter {
  color: #ccc;
  float: left;
  font-size: 1em;
  padding: 4px;
  width: 10em;
}
#navbar .navbar-tray .form-item {
  float: left;
}
#navbar .navbar-tray span.close {
  float: left;
  margin: 3px 4px 0 0;
}
#navbar .navbar-tray .filter-search a {
  background-image: url("../images/navbar.png");
  border-color: #E4E4E4 #D2D2D2 #B4B4B4;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: block;
  float: left;
  height: 16px;
  margin: 13px 0 0;
  -moz-border-radius: 10px;
  overflow: hidden;
  padding: 2px 10px;
}
