/**
 * @file navbar.menu-light.css
 */

.navbar-tray-horizontal .navbar-menu-administration ul li:hover, .navbar-tray-horizontal .navbar-menu-administration ul li.open {
  background: #f6f6f6 !important;
}

.navbar-tray-horizontal .navbar-menu-administration ul ul {
  background: #fff !important;
}

/* Backdrop's active menu item class. */
#navbar-administration .navbar-tray .active {
  color: #000;
}

/**
 * Items.
 */
#navbar-administration .navbar-level-2 > ul {
  background-color: #fafafa;
  border-bottom-color: #cccccc;
  border-top-color: #e5e5e5;
}
#navbar-administration .navbar-level-3 > ul {
  background-color: #f5f5f5;
  border-bottom-color: #c5c5c5;
  border-top-color: #dddddd;
}
#navbar-administration .navbar-level-4 > ul {
  background-color: #eeeeee;
  border-bottom-color: #bbbbbb;
  border-top-color: #d5d5d5;
}
#navbar-administration .navbar-level-5 > ul {
  background-color: #e5e5e5;
  border-bottom-color: #b5b5b5;
  border-top-color: #cccccc;
}
#navbar-administration .navbar-level-6 > ul {
  background-color: #eeeeee;
  border-bottom-color: #aaaaaa;
  border-top-color: #c5c5c5;
}
#navbar-administration .navbar-level-7 > ul {
  background-color: #fafafa;
  border-bottom-color: #b5b5b5;
  border-top-color: #cccccc;
}
#navbar-administration .navbar-level-8 > ul {
  background-color: #dddddd;
  border-bottom-color: #cccccc;
  border-top-color: #dddddd;
}

.navbar-tray-horizontal .navbar-menu-administration ul ul {
  border-color:#DDDDDD !important;
}
