/**
 * @file navbar.theme-light.css
 */
#navbar-administration .navbar-menu {
  background-color: #ffffff;
}
#navbar-administration .navbar-tray a {
  color: #565656;
}
#navbar-administration .navbar-menu .navbar-menu a {
  color: #434343;
}
#navbar-administration .navbar-tray-horizontal .navbar-menu li + li {
  border-left-color: #dddddd; /* LTR */
}
#navbar-administration .navbar-tray-vertical .navbar-menu li + li {
  border-top: 1px solid #dddddd;
}
#navbar-administration .navbar-tray a:hover,
#navbar-administration .navbar-tray a:active,
#navbar-administration .navbar-tray a:focus,
#navbar-administration .navbar-tray a.navbar-active {
  color: #000;
}
