/**
 * @file navbar.theme-rtl.css
 *
 * RTL styling for navbar.theme.css
 */

/**
 * Navbar bar.
 */
.drupal-navbar .navbar-bar {
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.3333);
}

/**
 * Navbar tray.
 */
.drupal-navbar .navbar-tray-horizontal > .navbar-lining {
  padding-right: 0;
  padding-left: 5em;
}
.drupal-navbar .navbar-tray-vertical > .navbar-lining:before {
  border-left: 1px solid #aaaaaa;
  border-right: 0 none;
  box-shadow: 1px 0 5px 2px rgba(0, 0, 0, 0.3333);
}
.drupal-navbar .navbar-tray-horizontal {
  box-shadow: 2px 1px 3px 1px rgba(0, 0, 0, 0.3333);
}
.drupal-navbar .navbar-tray-horizontal .menu li + li {
  border-left: 0 none ;
  border-right: 1px solid #dddddd;
}
.drupal-navbar .navbar-tray-horizontal .menu li:last-child {
  border-left: 1px solid #dddddd;
}
.drupal-navbar .navbar-tray-vertical .menu .menu .menu {
  margin-left: 0;
  margin-right: 1.3333em;
}
.drupal-navbar .navbar-tray-vertical .menu .menu .menu .menu {
  margin-left: 0;
  margin-right: 0.25em;
}
.drupal-navbar .navbar-tray-vertical .menu .menu .menu a {
  padding-left: 0;
  padding-right: 0.5em;
}

/**
 * Orientation toggle.
 */

.drupal-navbar .navbar-tray-horizontal .navbar-toggle-orientation {
  border-left: 0 none;
  border-right: 1px solid #c9c9c9;
}
.drupal-navbar .navbar-toggle-orientation > .navbar-lining {
  float: left;
}
