/**
 * @file navbar.icons-light.css
 *
 * Styling for navbar module icons.
 */

/**
*  Accessibility/focus
*/

#navbar-administration .navbar-icon.navbar-handle:focus {
  background-color: #f5f5f5;
}

/**
 * Handle.
 */
#navbar-administration .navbar-icon.navbar-handle:before {
  background-image: url("../icons/666666/arrow-right.svg");
}
.no-svg #navbar-administration .navbar-icon.navbar-handle:before {
  background-image: url("../icons/666666/arrow-right.png");
}
#navbar-administration .navbar-menu .navbar-menu .navbar-icon.navbar-handle:before {
  background-image: url("../icons/666666/arrow-right.svg");
  background-size: 75%;
}
.no-svg #navbar-administration .navbar-menu .navbar-menu .navbar-icon.navbar-handle:before {
  background-image: url("../icons/666666/arrow-right.png");
  background-size: auto auto;
}
