/**
 * @file navbar.admin.css
 *
 *
 * Aggressive resets so we can achieve a consistent look in hostile CSS
 * environments.
 */
body.navbar {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
#navbar,
#navbar * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-align: left; /* LTR */
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  vertical-align: baseline;
}
#navbar {
  font-size: 100%;
  font-size: 1rem;
  line-height: 1;
}

/**
 * Administration menu.
 */
#navbar-actions {
  float: left; /* LTR */
}
#navbar-user {
  float: right; /* LTR */
}
#navbar .navbar-bar {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 600;
}
@media screen and (max-width:28.124em) {
  #navbar .navbar-bar {
    position: absolute;
  }
}
#navbar .navbar-bar .section {
  float: left;
  min-height: 2.875em;
  min-height: 2.875rem;
}
#navbar .col-half {
  width: 50%;
}
#navbar .navbar-bar .menu li {
  display: block;
  float: left; /* LTR */
}
#navbar .navbar-bar .menu a {
  display: inline-block;
}
/**
 * Toolbar tray.
 */
#navbar .navbar-tray.positioned {
  bottom: 0;
  left: -320px;
  left: -20rem;
  max-width: 92%;
  overflow-y: auto;
  position: fixed;
  width: 320px;
  width: 20rem;
  z-index: 600;
}
#navbar .navbar-tray.positioned > .slider {
  left: -100%; /* LTR */
  overflow:hidden;
  position: absolute;
  -moz-transition: left, 0.2s ease-out;
  -webkit-transition: left, 0.2s ease-out;
  transition: left, 0.2s ease-out;
  width: 100%;
}
#navbar .navbar-tray.positioned.active,
#navbar .navbar-tray.positioned.active > .slider {
  left: 0; /* LTR */
}
/**
 * At larger screen sizes, the tray pushes the page content
 * using padding instead of left.
 */
@media screen and (max-width:28.124em) {
  body.menu-tray-open {
    overflow: hidden;
  }
  #navbar .navbar-tray.positioned {
    position: absolute;
  }
}
/**
 * At larger screen sizes, the tray pushes the page content
 * using padding instead of left.
 */
@media screen and (min-width:28.125em) {
  body.menu-tray-open {
    padding-left: 320px;
    padding-left: 20rem;
  }
}
#navbar .navbar-tray .navbar-menu li a {
  display: block;
}
/* This style seems to belong neither in navbar nor in shortcut. */
#navbar .navbar-tray #shortcut-navbar + a {
  margin-top: 0.3333em;
}
/**
 * Accordion
 */
/* @group Behavior */

#navbar .fleximenu {
  position: relative;
  overflow: hidden;
}
#navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#navbar .fleximenu li {
  display: block;
}
#navbar .box {
  position: relative;
}
#navbar .dormant {
  display: none;
}
#navbar .trail > ul { /* Show the sub-menus */
  display: block;
}
#navbar .active > ul {
  z-index: 51; /* Pull the active trail li's above the other li's */
}
#navbar .fleximenu .box {
  display: block;
  line-height: 1em; /* this prevents the value "normal" from being returned as the line-height */
  width: auto;
}
#navbar .fleximenu a {
  display: block;
  line-height: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#navbar .handle {
  bottom: 0;
  display: block;
  height: 2em;
  position: absolute;
  right: 10px;
  top: 0;
  -webkit-transform: rotate(0deg);
  -webkit-transition: -webkit-transform 0.1s ease-in;
  width: 2em;
  z-index: 1;
}
#navbar .handle::after,
#navbar .handle::before {
  background-color: #999;
  border-radius: 0px;
  content: " ";
  display: block;
  height: 1em;
  left: 50%;
  position: absolute;
  width: 2px;
}
#navbar .handle::before {
  -webkit-transform: rotate(-145deg);
  top: 1.1em;
}
#navbar .handle::after {
  -webkit-transform: rotate(145deg);
  top: 0.3em;
}
#navbar .handle.open {
  -webkit-transform: rotate(90deg);
}
#navbar .handle + * {
  margin-right: 60px;
}
#navbar .handle:hover {
  cursor: pointer;
}
/* Shortcuts */
#navbar #edit-shortcuts {
  clear: left;
  display: block;
}
