/* @group Spark icons */

#navbar [data-icon]:before {
  font-family: 'spark_icons', symbol;
  margin-right: 5px;
  content: attr(data-icon);
  speak: none;
}

/* @group Toolbar */

body {
  padding-top: 8em;
}

#navbar {
  background-color: #010101;
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  color: #ccc;
  font-weight: bold;
  left: 0;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  zoom: 1;
}
#navbar:before,
#navbar:after {
  content: "";
  display: table;
}
#navbar:after {
  clear: both;
}
#navbar ul {
  margin: 0;
  padding: 0;
}
#navbar ul li {
  display: inline;
  list-style: none;
  padding: 8px 12px;
}
#navbar ul li a {
  color: #ccc;
}
#navbar ul li a:hover,
#navbar ul li a:active,
#navbar ul li.active a {
  color: #fff;
  text-decoration: none;
}
#navbar ul [data-icon]:before {
  font-size: 180%;
}
#navbar #navbar-menu {
  float: left;
  width: 50%;
}
#navbar #navbar-menu .screen-reader-text {
  bottom: 3px;
  position: relative;
}
#navbar #navbar-user {
  float: right;
  text-align: right;
  width: 50%;
}
#navbar #navbar-user .screen-reader-text {
  bottom: 3px;
  position: relative;
}
#navbar #navbar-user .pulldown [data-icon]:before {
  font-size: 100%;
}
#navbar #navbar-user .pulldown .screen-reader-text {
  bottom: 0;
  display: none;
  position: relative;
}

@media (max-width: 480px) {
  #navbar .screen-reader-text {
    display: none;
  }
}

/**
 * Tab bar.
 */
#navbar-drawer {
  background-color: #555;
  -moz-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 999;
}
#navbar-drawer .tabs.primary {
  border: 0;
  overflow: hidden;
}
#navbar-drawer .tabs.secondary {
  background-color: #333;
  border: 0;
  -moz-box-shadow: 0 4px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 4px 3px rgba(0,0,0,0.2);
  box-shadow: 0 5px 3px rgba(0,0,0,0.2);
  clear: both;
  overflow: hidden;
  position: relative;
  z-index: 150;
}

#navbar-drawer ul.primary li a:link,
#navbar-drawer ul.primary li a.active,
#navbar-drawer ul.primary li a:active,
#navbar-drawer ul.primary li a:visited,
#navbar-drawer ul.primary li a:hover,
#navbar-drawer ul.primary li.active a {
  border: 0;
}

/**
 * Tabs.
 */
ul.primary {
  /* float: right; */
  font-size: 1em;
  height: 2.6em;
  margin: 0;
  padding-top: 0;
}
ul.primary li {
  float: left; /* LTR */
  list-style: none;
}
ul.primary li a:link,
ul.primary li a.active,
ul.primary li a:active,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
  background: none;
  color: #ccc;
  display: block;
  float: left; /* LTR */
  font-weight: bold;
  height: 100%;
  line-height: 1.8em;
  padding: 5px 15px;
}
ul.primary li a {
  background: none;
}
ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited {
  background-color: #333;
  color: #fff;
}
ul.primary li a:hover {
  color: #fff;
}
ul.primary li.active a:hover {
  color: #eee;
}
ul.secondary {
  font-size: 0.923em;
  font-weight: bold;
  height: 100%;
  line-height: 1.8em;
  margin: 0;
  overflow: hidden;
  padding: 8px 0 8px;
}
ul.secondary li {
  border: 0;
  display: block;
  float: left; /* LTR */
}
ul.secondary li a {
  color: #bbb;
}
ul.secondary li a,
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  padding: 10px 15px;
}
ul.secondary li.active a,
ul.secondary li.active a.active {
  color: #fff;
}
ul.secondary li a:hover {
  color: #eee;
}
